nav{
    background-color: gray;
    display: flex;
    flex-direction: horizontal;
}


main {
    margin-top: 60px;
  }

  #content {
    display: none;
  }

  form {
    width: 350px;
    margin-bottom: 10px;
  }

  ul {
    margin-bottom: 0px;
  }

  #completedTaskList .content {
    color: grey;
    text-decoration: line-through;
  }
